/* page size */
@page {
  size: 8.5in 11in;
}
@page:right {
  @bottom-center {
    content: counter(page);
  }
}
@page:left {
  @bottom-center {
    content: counter(page);
  }
}

:root {
  --pagedjs-margin-right: .7in !important;
  --pagedjs-margin-left: .7in !important;
  --pagedjs-margin-top: .7in !important;
  --pagedjs-margin-bottom: 1in !important;
}

.pagedjs_page {
  --pagedjs-pagebox-width: 8in;
  --pagedjs-pagebox-height: 10.5in; 
} 


.section > h2 {
  margin-bottom: 0px;
}

.section hr {
  margin-top: 0px
}


.logo {
  width: 1.6in;
}

.empty {
  height: 4in;
}

.details {
  left: 0px;
  top: 0px;
  font-size: .95em;
}

.adrs h2, h3, h4, h5, p {
  margin: 0.1em !important;
  padding: 0em;
}


.details ul{
  list-style-type:none;
  padding-left: 10px;
};


.notes {
  border-radius: 4px;
  border: 1px solid black;
  padding: .08in;
  margin: .08in .08in .15in .0in;
  min-height: 1.5in;
  width: 58%;
  font-size: .9em;
}

.table {
  width: 100%;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}


.width40 {
  width: 40%;
}

.width50 {
  width: 50%;
}

.width60 {
  width: 60%;
}

.width62 {
  width: 62%;
}

.width100 {
  width: 100%;
}


.font60 {
  font-size: 60%;
}

.font80 {
  font-size: 80%;
}



.empty1 {
  height: 1in;
}

.empty2 {
  height: 2in;
}

.empty3 {
  height: 3in;
}



a[href^="http"]:not([class="uri"])::after {
    content: none !important;
}